<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The recipe page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/newRecipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" />

</head>

<body>
    <header>
        <h1 class="site-title">
            <a href="/views/index.html">Smooocha Recp</a>
        </h1>
        <nav class="navbar-links">
            <a class="newpagetext btn navbar-link" href="/views/suggest.html">Suggest a recipe</a>
            <a style="background-color: rgb(226, 201, 162);" class="newpagetext btn navbar-link" href="/views/index.html">Home</a>
            <a style="background-color: rgb(226, 201, 162);" class="newpagetext btn navbar-link" href="/views/recipe.html">Recipes</a>
            <!-- <a class="navbar-link" href="/views/login.html">Log In</a>
            <a class="btn navbar-link" href="/views/signUp.html">Sign Up</a> -->
            <a style="background-color: rgba(108, 107, 109, 0.633);" class="newpagetext btn navbar-link" href="/views/myBook.html">My Book</a>
        </nav>
    </header>
    <div class="main-container2">
        <h1></h1>
        <p id="description-para"></p>
        <div class="img-div">
            <img id="main-img" src="" alt="">
            <span><i></i></span>
            <ul id="bcbtn">
                <li style="padding-left: 15px;" id="addToBookBtn" class="btn">Add to My Book<a title="Add to My Book"><img style="margin: 0px;" id="add-to-book" src="/img/recipebook.svg" alt=""></a>
                </li>
                <li id="goToBoxBtn"><a>Scroll to video <i class="fa-solid fa-down-long"></i></a></li>
            </ul>
        </div>
        <div class="inner-container1">
            <div class="quick-info-table">
                <h2>Quick Info Table</h2>
                <div>
                    <ul class="column1">
                        <li>Prep Time :</li>
                        <li>Cook Time :</li>
                        <li>Total Time : </li>
                        <li>Servings : </li>
                        <li>Difficulty : </li>
                    </ul>

                    <ul class="column">
                        <li>30 min</li>
                        <li>50 min</li>
                        <li>1 hr 20 min</li>
                        <li>6</li>
                        <li>Medium</li>
                    </ul>
                </div>
            </div>
            <div class="intro-box">
                <h2>Introduction</h2>
                <li></li>
                <li> </li>
            </div>
            <div class="history-box">
                <h2>Origin of Shahi Biryani</h2>
                <li></li>
                <li> </li>
                <li></li>
            </div>
            <div id="inner1">
                <h3>Why you'll Love this Recipe</h3>

            </div>
        </div>
        <div class="yt-vid" id="myBox">
            <h2>Youtube Video (For reference)</h2>
            <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <article class="recipe recipe-instructions">
            <h2>Recipe</h2>
            <section id="ingredients">
                <h3>Ingredients</h3>


            </section>

            <section id="instructions">
                <h3>Instructions</h3>

            </section>

            <section id="chefs-tips">
                <h3>Chef’s Tips</h3>

            </section>
        </article>
        <div class="other-info">
            <h3>Serving Suggestions</h3>


            <h3>Storage and Heating</h3>

            <section id="nutritional-info">
                <h3>Nutrional Info(per Serving)</h3>

            </section>
            <div class="faqs">
                <h2>Frequently Asked Questions</h2>

            </div>
        </div>
        <div class="closing-box">
            <span><i>"he taste of royal kitchens to your home — try this Shahi Veg Biryani today and share your
                    creation us!"</i></span>
            <h3 id="feedback">Comment here: </h3>
            <textarea type="text" name="" placeholder="Comment Here......." id="feedback-box"></textarea>
        </div>
        <div class="next-suggestion">
            <span href="#">Continue with <i class="fa-solid fa-arrow-right"></i></span>
            <br>
            <span>
                <h3 id="next-title">hii</h3><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>
            </span>
        </div>
    </div>

    <script src="/js/addToBook.js"></script>
    <script src="/js/script.js"></script>
    <script>
        document.getElementById("goToBoxBtn").addEventListener("click", () => {
            const target = document.getElementById("myBox");
            target.scrollIntoView({ behavior: "smooth" }); // smooth scroll
        });
    </script>

</body>

</html>
