<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up - Smooocha</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>
            <a href="/">Smooocha Recp</a>
        </h1>
        <div class="navbar-links">
            <a class="navbar-link" href="/views/login.html">Log In</a>
            <a class="btn navbar-link" href="/views/signup.html">Sign Up</a>
        </div>
    </header>

    <form class="signup-main">
        <h2>Sign Up</h2>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <div class="email error"></div>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <div class="password error"></div>
        <button class="btn">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/views/login.html">Log in</a></p>

    <footer>
        Copyright 2025 by KarTech Smoocha
    </footer>
    <script src="/js/auth.js"></script>
</body>

</html>